<div class="container text-justify">
    <h1>Press Release-Activity</h1>
    <hr>
    <div class="row">
        <div class="col-md-12 Year">
            <div class="dvGallery">
                <gallery [flexBorderSize]="3" [flexImageSize]="3" [metadataUri]="'/assets/data/PressNews.json'"></gallery>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let year of Years">
    <ul>
        <li> {{year.preview_xxs.path}}, width: {{year.preview_xxs.width}}</li>
        <li> {{year.preview_xs.path}}, width: {{year.preview_xs.width}}</li>
        <li>{{year.preview_s.path}}, width: {{year.preview_s.width}}</li>
        <li>{{year.preview_m.path}}, width: {{year.preview_m.width}}</li>
        <li>{{year.preview_l.path}}, width: {{year.preview_l.width}}</li>
        <li>{{year.preview_xl.path}}, width: {{year.preview_xl.width}}</li>
        <li>{{year.raw.path}}, width: {{year.raw.width}}</li>
    </ul>
</div>